/* .card {
    margin: 2px;
    color: black;
    width: 15px;
    height: 25px;
} */

.body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.galeriaProductos {
    margin: 5px;
    display: flex;
    flex-wrap: wrap ;
}

.tarjetas {
    margin: 5px;
}